<%- include('partials/header'); %>
    <h1>Sobre nosotros</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro facilis magni quaerat accusamus quo velit,
        consequuntur tenetur veniam quas temporibus voluptatem! Sequi inventore fugit, nobis quis quae dolorum tempore
        porro.</p>
    <%- include('partials/footer'); %>